

<div id="container">

<h1> Hello, <%= session[:fbuser]['first_name'] %>! </h1> <%= image_tag('../../assets/fullbattery.png') %> <%= image_tag('../../assets/34battery.png') %> <%= image_tag('../../assets/12battery.png') %><%= image_tag('../../assets/0battery.png') %> 

<h2> What's all this about? </h2>

<p> /Energy is a way to keep track of your own energy throughout the week. This is how it works:</p>

<ol>
<li> Sign up for an account. </li>
<li> Give your phone number, how you feel now, and what time you want to check in at. </li>
<li> At that time each day, you get a text asking if you have more, less or about the same energy as the day before. </li>
<li> Your battery adjusts accordingly. </li>
<li> Use it as a gentle reminder - or as a signal to others for when would be a good time to reach out. </li>
</ol>

<%= button_to "Get Started", Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_url)%>

<div id="footer">
<p> Battery images courtesy of PixelsDaily (and modified by me). Originals are available <a href="http://pixelsdaily.com/resources/photoshop/psds/flat-battery-icon-pack/">here.</a></p>
</div>
</div>