<div id="container">

<%= form_tag(battery_url) do %>
  <% if @battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battery.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @battery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">

  <div class="form-group">
    <%= label :user, :phone, 'What is your number?' %>
    <%= text_field :user, :phone, class:'form-control', placeholder:'We text you to get your update' %>
  </div>

<!--   <div class="form-group">
  <%= label :user, :notification_hour, 'What time do you want us to ask you?' %>
  <%= text_field :user, :notification_hour, class:'form-control' %>
  </div> -->

  <div class="form-group">
    <%= label :battery, :level, 'How are you feeling?' %>
    <%= text_field :battery, :level %>

<button type="submit" class="btn btn-success"> Submit </button>

<% end %>
</div>