<div id="container">

<h1> Hello, <%= session[:fbuser]['first_name'] %>! </h1>
<p> Welcome to your battery! </p>

<% if @battery.level == 1 %>
<%= image_tag('../../assets/0battery.png') %>
<% elsif @battery.level == 2 %>
<%= image_tag('../../assets/12battery.png') %>
<% elsif @battery.level == 3 %>
<%= image_tag('../../assets/34battery.png') %>
<% else %>
  <%= image_tag('../../assets/fullbattery.png') %>
<% end %>

<br><br>
<p> Feel free to take the below code to embed it on any website! </p>

</div>